name: test
on:
- pull_request
jobs:
  xenial:
    container: 
      image: vapor/swift:5.1-xenial
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - run: swift test
  bionic:
    container: 
      image: vapor/swift:5.1-bionic
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - run: swift test
  sqlite:
    container: 
      image: vapor/swift:5.1
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        repository: vapor/fluent-sqlite-driver
        ref: master
    - run: swift package edit fluent-kit --revision ${{ github.sha }}
    - run: swift test
  postgres:
    container: 
      image: vapor/swift:5.1
    services:
      psql:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: vapor_username
          POSTGRES_DB: vapor_database
          POSTGRES_PASSWORD: vapor_password
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        repository: vapor/fluent-postgres-driver
        ref: master
    - run: pwd
    - run: swift package edit fluent-kit --revision ${{ github.sha }}
    - run: swift test
      env:
        POSTGRES_HOSTNAME: psql
  mysql:
    container: 
      image: vapor/swift:5.1
    services:
      mysql:
        image: mysql
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_DATABASE: vapor_database
          MYSQL_USER: vapor_username
          MYSQL_PASSWORD: vapor_password
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        repository: vapor/fluent-mysql-driver
        ref: master
    - run: swift package edit fluent-kit --revision ${{ github.sha }}
    - run: swift test
      env:
        MYSQL_HOSTNAME: mysql
        MYSQL_TLS: true
