name: test
on:
- pull_request
jobs:
  fluent-kit_xenial:
    container: 
      image: vapor/swift:5.2-xenial
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - run: swift test --enable-test-discovery --sanitize=thread
  fluent-kit_bionic:
    container: 
      image: vapor/swift:5.2-bionic
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - run: swift test --enable-test-discovery --sanitize=thread
  fluent-sqlite-driver:
    container: 
      image: vapor/swift:5.2
    runs-on: ubuntu-latest
    steps:
    - run: apt update -y; apt install -y libsqlite3-dev
    - run: git clone -b master https://github.com/vapor/fluent-sqlite-driver.git
      working-directory: ./
    - run: swift package edit fluent-kit --revision ${{ github.sha }}
      working-directory: ./fluent-sqlite-driver
    - run: swift test --enable-test-discovery --sanitize=thread
      working-directory: ./fluent-sqlite-driver
  fluent-postgres-driver:
    container: 
      image: vapor/swift:5.2
    services:
      psql:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: vapor_username
          POSTGRES_DB: vapor_database
          POSTGRES_PASSWORD: vapor_password
    runs-on: ubuntu-latest
    steps:
    - run: git clone -b master https://github.com/vapor/fluent-postgres-driver.git
      working-directory: ./
    - run: swift package edit fluent-kit --revision ${{ github.sha }}
      working-directory: ./fluent-postgres-driver
    - run: swift test --enable-test-discovery --sanitize=thread
      working-directory: ./fluent-postgres-driver
      env:
        POSTGRES_HOSTNAME: psql
  fluent-mysql-driver:
    container: 
      image: vapor/swift:5.2
    services:
      mysql:
        image: mysql
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_DATABASE: vapor_database
          MYSQL_USER: vapor_username
          MYSQL_PASSWORD: vapor_password
    runs-on: ubuntu-latest
    steps:
    - run: git clone -b master https://github.com/vapor/fluent-mysql-driver.git
      working-directory: ./
    - run: swift package edit fluent-kit --revision ${{ github.sha }}
      working-directory: ./fluent-mysql-driver
    - run: swift test --enable-test-discovery --sanitize=thread
      working-directory: ./fluent-mysql-driver
      env:
        MYSQL_HOSTNAME: mysql
        MYSQL_TLS: true
  fluent-mongo-driver:
    container: 
      image: vapor/swift:5.2
    services:
      mongo:
        image: mongo
        ports:
          - 27017:27017
    runs-on: ubuntu-latest
    steps:
    - run: git clone -b master https://github.com/vapor/fluent-mongo-driver.git
      working-directory: ./
    - run: swift package edit fluent-kit --revision ${{ github.sha }}
      working-directory: ./fluent-mongo-driver
    - run: swift test --enable-test-discovery --sanitize=thread
      working-directory: ./fluent-mongo-driver
      env:
        MONGO_HOSTNAME: mongo
  fluent:
    container: 
      image: vapor/swift:5.2
    runs-on: ubuntu-latest
    steps:
    - run: git clone -b master https://github.com/vapor/fluent.git
      working-directory: ./
    - run: swift package edit fluent-kit --revision ${{ github.sha }}
      working-directory: ./fluent
    - run: swift test --enable-test-discovery --sanitize=thread
      working-directory: ./fluent
